target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Custom ignores for this project ###
Trabalho_Backend_UNINTER.md
Trabalho_Backend_UNINTER.pdf
apache-maven-3.9.6/
apache-maven-3.9.6-bin.tar.gz
Raizes-do-Nordeste/
.env
